@import "./tailwind.css";
@font-face {
  font-family: "Righteous";
  src: url("./font/righteous/Righteous-Regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-righteous {
  font-family: "Righteous", sans-serif;
}
